[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
tflite-runtime = "*"
loguru = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.8"
